@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  margin: 10px auto;
  text-align: center;
  background-image: url(../imagens/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#btn_logout{
    position: absolute;
    top: 85px;
    left: 5px;
    width: 60px;
    height: 30px;
    padding: 8px;
    background-color: rgba(117, 230, 255, 0.308);
    border-radius: 15px;
    border: none;
}
#btn_logout p{
    font-size: 0.9em;
    text-decoration: underline;
}
#btn_logout:hover{
    scale: 1.01;
    cursor: pointer;
}
.usuario{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.308);
    width: 200px;
    padding: 8px;
    border-radius: 15px;
}
.usuario p{
    font-family: "Farsan", cursive;
    font-size: 1.3em;
    font-weight: 800;
    margin-top: 10px;
}
h3{
    margin: 200px auto;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
}
footer img{
  width: 4%;
  position: fixed;
  left: 2px;
  bottom: 2px;
}

@media screen and (max-width: 700px) {
  body {
    overflow: hidden;
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
  }
  footer img{
    width: 13%;
    position: fixed;
    left: 2px;
    bottom: 2px;
  }
}

@media screen and (710px <= width <= 1050px) {
  body {
    overflow: hidden;
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
  }
  form {
    margin: 10% auto;
    background-color: var(--colorForm);
    width: 86%;
    height: 360px;
    padding: 10px;
  }
  footer img{
    width: 13%;
    position: fixed;
    left: 2px;
    bottom: 2px;
  }
}
