body {
  text-align: center;
  background-color: var(--colorWhiteSnow);
}
h1{
  margin: 5rem auto 0;
  font-family: var(--fontFarsan);
  font-weight: bolder;
  font-style: normal;
  font-size: 2.5em;
}
#subtitle {
  margin: 2rem auto;
  font-family: var(--fontVarela);
  font-weight: lighter;
  font-style: normal;
  font-size: 1em;
}
form {
  margin: 1rem auto;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  width: 31.25rem;
  min-height: 22.5rem;
  max-height: 25rem;
  padding: 0.6rem;
  border-radius: 5px;
}
.form_div { 
    /* div inputs form */
  width: 16.25rem;
  margin: 1.25rem auto;
  position: relative;
}
.form_div input {
  width: 100%;
  height: 2.5rem;
  padding: 0.62rem;
  border-radius: 10px;
  margin-bottom: 0.62rem;
}
.form_div label {
  position: absolute;
  top: .7rem;
  left: 0.62rem;
  font-size: 0.9em;
  color: lightgray;
  font-family: var(--fontRoboto);
  pointer-events: none;
  transition: 0.3s ease all;
}
.form_div input:focus + label,
.form_div input:valid + label {
  top: -1rem;
}
#btn_senha {
  /* btn look the password */
  opacity: 0;
  position: absolute;
  right: 0.62rem;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--colorBlack);
}
.form_div img {
  position: absolute;
  right: 0.62rem;
  top: 40%;
  transform: translateY(-50%);
}
.cadastro {
  margin: 1.25rem auto;
}
form p {
  font-family: var(--fontRoboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--colorForm);
}
form p:hover{
    color: var(--colorWhite);
}
form a {
  font-family: var(--fontRoboto);
  font-weight: 500;
  font-size: 1em;
  color: rgb(14, 113, 193);
  text-decoration: none;
}
button {
  margin: 1.25rem;
  width: 8.75rem;
  height: 1.87rem;
  background-color: var(--colorAzulSecundary);
  color: var(--colorWhite);
  font-family: var(--fontRoboto);
  font-weight: 500;
  font-size: 0.9em;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 4px var(--colorAzul);
}
button:hover {
  scale: 1.01;
  color: var(--colorWhiteSnow);
  cursor: pointer;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 2px;
    font-family: var(--fontVarela);
    font-size: .8em;
}
footer img{
  width: 3%;
  position: fixed;
  left: 2px;
  bottom: 0;
}


