@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    /* colors */
  --colorForm: #ffffff4f;
  --colorAzul: #1a73e8;
  --colorAzulSecundary: #0D47A1;
  --colorWhiteSnow: #F5F5F5;
  --colorWhite: #FFFFFF;
  --colorBlack: #202124;

  /* fonts */
  --fontRoboto: "Roboto", sans-serif;
  --fontFarsan: "Farsan", cursive;
  --fontVarela: "Varela Round", sans-serif;
}
body {
  text-align: center;
  background-color: var(--colorWhiteSnow);
}
h1{
  margin: 5rem auto 0;
  font-family: var(--fontFarsan);
  font-weight: bolder;
  font-style: normal;
  font-size: 2.5em;
}
#subtitle {
  margin: 2rem auto;
  font-family: var(--fontVarela);
  font-weight: lighter;
  font-style: normal;
  font-size: 1em;
}
form {
  margin: 1rem auto;
  background-color: var(--colorBlack);
  color: var(--colorWhite);
  width: 31.25rem;
  height: 22.5rem;
  padding: 0.6rem;
  border-radius: 5px;
}
.form_div { 
    /* div inputs form */
  width: 16.25rem;
  margin: 1.25rem auto;
  position: relative;
}
.form_div input {
  width: 100%;
  height: 2.5rem;
  padding: 0.62rem;
  border-radius: 10px;
  margin-bottom: 0.62rem;
}
.form_div label {
  position: absolute;
  top: 0.62rem;
  left: 0.62rem;
  font-size: 0.9em;
  color: lightgray;
  font-family: var(--fontRoboto);
  pointer-events: none;
  transition: 0.3s ease all;
}
.form_div input:focus + label,
.form_div input:valid + label {
  font-size: 0.7em;
  top: -1rem;
  color: var(--colorAzul);
}
#btn_senha {
  /* btn look the password */
  opacity: 0;
  position: absolute;
  right: 0.62rem;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form_div img {
  position: absolute;
  right: 0.62rem;
  top: 40%;
  transform: translateY(-50%);
}
.cadastro {
  margin: 1.25rem auto;
}
form p {
  font-family: var(--fontRoboto);
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--colorForm);
}
form p:hover{
    color: var(--colorWhite);
}
form a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: rgb(14, 113, 193);
  text-decoration: none;
}
button {
  margin: 1.25rem;
  width: 8.75rem;
  height: 1.87rem;
  background-color: var(--colorAzulSecundary);
  color: var(--colorWhite);
  font-family: var(--fontRoboto);
  font-weight: 500;
  font-size: 0.9em;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 4px var(--colorAzul);
}
button:hover {
  scale: 1.01;
  color: var(--colorWhiteSnow);
  cursor: pointer;
}
footer{
    width: 100%;
    
    position: fixed;
    bottom: 2px;
    font-family: var(--fontVarela);
    font-size: .8em;
}
footer img{
  width: 3%;
  position: fixed;
  left: 2px;
  bottom: 0;
}


