@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    /* colors */
  --colorForm: #ffffff4f;
  --colorAzul: #1a73e8;
  --colorAzulSecundary: #0D47A1;
  --colorWhiteSnow: #F5F5F5;
  --colorWhite: #FFFFFF;
  --colorBlack: #202124;

  /* fonts */
  --fontRoboto: "Roboto", sans-serif;
  --fontFarsan: "Farsan", cursive;
  --fontVarela: "Varela Round", sans-serif;
}
body {
  margin: 10px auto;
  text-align: center;
  background-image: url(../imagens/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
h1 {
  margin: 5px auto;
  margin-bottom: 30px;
  font-family: "Farsan", cursive;
  font-weight: bolder;
  font-style: normal;
  font-size: 2.5em;
}
form {
  margin: 70px auto;
  background-color: var(--colorForm);
  width: 500px;
  height: 360px;
  padding: 10px;
}
.form_div {
  margin: 40px auto;
  width: 200px;
  height: 30px;
  position: relative;
}
.form_div input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 153, 255, 0.482);
  transition: 0.3s ease all;
}
.form_div label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.9em;
  color: lightgray;
  font-family: "Roboto", sans-serif;
  pointer-events: none;
  transition: 0.3s ease all;
}
.form_div input:focus + label,
.form_div input:valid + label {
  font-size: 0.7em;
  top: -17px;
  color: #007bff;
}
.form_icons,
#icon_senha {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 13px;
}
#btn_senha_cad {
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
button {
  width: 150px;
  height: 30px;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.03);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  background-color: #007bffa5;
}
button:hover {
  background-color: #007bff;
}
footer img{
  width: 4%;
  position: fixed;
  left: 2px;
  bottom: 2px;
}



