@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    /* colors */
  --colorForm: #ffffff4f;
  --colorAzul: #1a73e8;
  --colorAzulSecundary: #0D47A1;
  --colorWhiteSnow: #F5F5F5;
  --colorWhite: #FFFFFF;
  --colorBlack: #202124;

  /* fonts */
  --fontRoboto: "Roboto", sans-serif;
  --fontFarsan: "Farsan", cursive;
  --fontVarela: "Varela Round", sans-serif;
}